<tha-header></tha-header>
<div class="container">
  <h1 class="page-title">Let's plan your <strong>saving goal.</strong></h1>
  <tha-card class="card">
    <div class="card__header">
      <img src="assets/buy-a-house.svg" alt="Buy a house icon" />
      <h2 class="card__title">Buy a house</h2>
      <h3 class="card__subtitle">Saving goal</h3>
    </div>

    <tha-saving-goal-form #savingGoalForm></tha-saving-goal-form>

    <tha-monthly-deposit-preview
      [amount]="savingGoalForm.amount"
      [reachDate]="savingGoalForm.reachDate"
    ></tha-monthly-deposit-preview>

    <div class="card__action">
      <button tha-button>Confirm</button>
    </div>
  </tha-card>
</div>
