@import "../mixins";

.container {
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include device-type(phone, "max") {
    padding-top: 56px;
  }

  > .page-title {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    color: #1b31a8;

    @include device-type(phone, "max") {
      margin-top: 32px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.card {
  box-sizing: border-box;
  @include device-type("phone", "min") {
    max-width: 560px;
    width: 100%;
  }

  @include device-type("phone", "max") {
    align-self: stretch;
  }

  &__header {
    position: relative;
    padding-left: 80px;
    margin-bottom: 24px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    > img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__title {
    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #1e2a32;
    margin: 0;

    @include device-type("phone", "max") {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #708797;
    margin: 0;

    @include device-type("phone", "max") {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__action {
    padding: 16px 20px 40px;
    margin-left: -24px;
    margin-bottom: -40px;
    margin-right: -24px;

    .tha-button {
      max-width: 320px;
      width: 100%;
      transform: translateX(25%);

      @include device-type("phone", "max") {
        transform: translateX(0);
        max-width: 100%;
      }
    }
  }
}

tha-saving-goal-form {
  margin-bottom: 24px;
  display: block;
}

tha-monthly-deposit-preview {
  margin-bottom: 16px;
}
